[dev-packages]
mypy = "*"
pylint = "*"
types-PyYAML = "*"
black = {version = "*", extras = ["d"]}
# Have commented out python-language-server to make it available quickly
# for the development
#python-language-server = "*"
#pyls-mypy = "*"
#pyls-isort = "*"
# Optional debugger dependencies
#ipdb = "*"
#web-pdb = "*"

[packages]
typing_extensions = "*"
pytest-xdist = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-html = "*"
dynaconf = "*"
python-keycloak = "*"
backoff = "*"
httpx = {version = "*", extras = ["http2"]}
openshift-client = ">=1.0.14"
apyproxy = {editable = true, git = "git+https://github.com/mangan/apyproxy"}
weakget = "*"
flaky = "*"

[requires]
python_version = "3"
